body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #000044, #0077b5);
    background-image: radial-gradient(circle at center, #0099ff 0%, #004477 50%, #000044 100%);
}

#root {
    width: 100vw;
    height: 100vh;
}